extends layout.pug

block content

  article.portfolio-intro

    h1 Boffware Projects

    p This website is to showcase web sites and apps that I have created. Check out the projects below:


  article.portfolio-project-thumbs
    .projects-box.box.grid    
      each project, index in projects
        div.cell
          a(href=`/project/${index}`, target="_blank")
            div.photo-cube
              img.front(src=`/static${project.image_urls[0][0]}` alt=project.project_name)
              img.back(src=`/static${project.image_urls[0][1]}` alt='')
 
              img.left(src=`/static${project.image_urls[0][1]}` alt='')
              img.right(src=`/static${project.image_urls[0][2]}` alt='')
            h5 #{project.project_name}

